<?xml version="1.0"?>
<ruleset name="Stripe for Business Plugin Coding Standards">
	<arg name="extensions" value="php" />
	<arg name="colors" />

	<rule ref="Juko Labs">
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
	</rule>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>
</ruleset>
