.future-shop-cart-background {
	display: none;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb( 0, 0, 0 );
	background-color: rgba( 0, 0, 0, 0.4 );
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 0.4s;
	animation-name: fadein;
	animation-duration: 0.4s;

	body.admin-bar & {
		top: 32px !important;
	}

	.future-shop-cart-content {
		position: fixed;
		right: 0;
		background-color: #FEFEFE;
		width: 40%;
		height: 100%;
		-webkit-animation-name: slidein;
		-webkit-animation-duration: 0.4s;
		animation-name: slidein;
		animation-duration: 0.4s;
	}

	.cart-close {
		color: #000;
		float: right;

		&:hover,
		&:focus {
			color: rgba( 0, 0, 0, 0.75 );
			text-decoration: none;
			cursor: pointer;
		}
	}

	.cart-header {
		padding: 2px 16px;
		background-color: #FFF;
		color: #000;
	}

	.cart-body {
		padding: 2px 16px;
	}

	.cart-footer {
		padding: 2px 16px;
		background-color: #FFF;
		color: #000;
	}

	@-webkit-keyframes slidein {
		from {
			right: -300px;
			opacity: 0;
		}

		to {
			right: 0;
			opacity: 1;
		}
	}

	@keyframes slidein {
		from {
			right: -300px;
			opacity: 0;
		}

		to {
			right: 0;
			opacity: 1;
		}
	}

	@-webkit-keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
}
